#side-panel {
  background-color: var(--side-panel-bg);
  padding: 0;
  margin: 0 !important;
  width: min(50%, 200px);
  transition: 200ms;
  display: block;
  height: calc(var(--innerH) - 50px);
  opacity: 99%;
  transform-origin: 0 0;
  overflow: hidden;
  box-shadow: 3px 3px 5px var(--nav-shd-clr);
  position: fixed !important;

  z-index: 999 !important;
}

.side-panel-item:hover,
.spi {
  background-color: var(--spi-bg);
}

.spi {
  box-shadow: inset 0 0 5px #333;
}

.spi::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #3467ad;
}

.spi::after {
  background-color: #5c6bc0 !important;
}

a img {
  height: 25px;
  filter: invert(var(--side-panel-icon-invert)) !important;
  margin: 0;
  padding: 0;
}

.side-panel-item > span {
  display: block;
  /*	background-color: green;*/
  line-height: 25px;
  height: 25px;
  margin-left: 10px;
}

.side-panel-item {
  text-decoration: 0;
  color: var(--side-panel-item-clr);
  display: flex;
  box-sizing: border-box;
  height: 40px;
  padding: 7.5px 10px;
  border-radius: 0 5px 5px 0;
  white-space: nowrap;
  margin: 0 5px 0 0px;
}

@media only screen and (min-width: 600px) {
  .side-panel-x {
    width: 45px !important;
  }
}

@media only screen and (max-width: 600px) {
  .side-panel-x {
    transform: translateX(-205px);
    opacity: 0;
  }
}
