 #index {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.index-link {
	display:  block;
/*	background: linear-gradient(45deg, gold, greenyellow);*/
	width: 150px;
	aspect-ratio: 5/7;
	text-decoration: none;
	margin: 5px;

	border-radius: 0 18px 0 18px;
}

.index-img {
	display: block;
	height: 100px;
	aspect-ratio: 1/1;
/*	background: linear-gradient(30deg, yellowgreen, green);*/
	position: relative;
	left: calc(50% - 50px);
	margin: 15px 0;
	border-radius: 50%;
}

.index-name {
/*	background-color: red;*/
	font-size: 1.4rem;
	text-align: center;
	color: #000;
}

.index-item-desc {
	font-size: 12px;
	margin: 5px 10px;
	border-left: 2px solid royalblue;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0 10px 10px 0;
	color: #444;
}

a {
	text-decoration: none !important;
}

a[data-href="imgD"] {
	background: linear-gradient(45deg, gold, greenyellow);
}

a[data-href="imgD"] .index-img{
	background: linear-gradient(30deg, yellowgreen, green);
}

a[data-href="ytdl"] {
	background: linear-gradient(45deg, lightgoldenrodyellow, coral);
}

a[data-href="ytdl"] .index-img{
	background: linear-gradient(30deg, darkred, orangered);
}

a[data-href="notebook"] {
	background-image: linear-gradient(250deg, #cd9cf2 0%, #f6f3ff 100%);
}

a[data-href="notebook"] .index-img{
	background: linear-gradient(30deg, darkred, orangered);
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}


