#login, #signup {
    /* background-color: red;     */
    margin: 5px;
    border-radius: 10px;
    /* background-color: #efefef; */
    overflow: hidden;
    box-shadow: 0 0 2px #aaa;
}

#login-title {
    margin: 0;
    text-align: center;
    padding: 5px 20px;
    font-weight: 350;
    border-bottom: 1px solid #aaa;
    /* background-color: #ddd; */
    font-size: 1.2rem;
}

#login-form {
    padding: 10px;
}

#login a , #signup a{
    color: royalblue;
}