#user {
	height: 40px;
	width: 40px;
	background: red;
	margin: 5px 8px 0 auto;
	border-radius: 5px;
	background: var(--bg-e);
}

#user>img:active {
	transform: scale(0.9);
}

#user>img {
	height: 40px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	filter: invert(var(--invert-1));
	transition: 100ms;
}

#user-options {
	--bg-clr-hehe: #222;
	background: var(--bg-clr-hehe);
	width: 150px;
	position: absolute;
	right: 0;
	border-radius: 8px;
	top: 48px;
	transition: 400ms;
	transform-origin: 130px 0%;
}

#user-options:before {
	content: "";
	position: absolute;
	height: 20px;
	aspect-ratio: 1/1;
	/*	background: red;*/
	top: -20px;
	right: 10px;
	border: 10px solid transparent;
	border-bottom-color: var(--bg-clr-hehe);
	box-sizing: border-box;
}

.user-option-item {
	height: 40px;
	line-height: 40px;
	transition: 100ms;
	color: #fff;
	user-select: none;
	font-size: 1rem;
	padding: 0 40px;
}

.user-option-item:hover {
	background: royalblue;
	/*	color: #333;*/
}

.user-option-item:active {
	padding-left: 50px;
}

.user-option-item>img {
	height: 25px;
	aspect-ratio: 1/1;
	position: absolute;
	margin: calc(15px / 2) 5px;
	filter: contrast(0) brightness(10);
	left: 0;
}

.user-bg {
	height: var(--innerH, 100vh);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: rgba(0, 0, 0, 0.1);
}

#user[mode="open"] #user-options {
	opacity: 1;
	transform: translateY(0);
}

#user[mode="close"] #user-options
{
	opacity: 0;
	transform: translateY(-5px) scale(0);
}

#user-option {
	border-radius: 5px;
	overflow: hidden;
}

.login-btn {
	/* background-color: royalblue; */
	color: #eee;
	border-radius: 5px;
	display: block;
	margin: 5px 5px 5px auto;
}

.login-btn:hover {
	background-color: #ddd;
}

.login-btn:active {
	transform: scale(0.9);
}

.login-btn > img {
	height: 30px;
	aspect-ratio: 1/1;
	margin: 5px;
}