body {
  margin: 0;
  height: var(--innerH);
  --nav-H: 50px;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: sans;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
/*    outline: solid;*/
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.d-no {
  display: none !important;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

[box="collapsed"] {
  /*  transform-origin: 50% 0;*/
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  /*  transform: scaleY(0);*/
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.center-H {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-V {
  display: flex;
  align-items: center;
}

.p-s {
  padding : 5px;
}

.p {
  padding: 10px;
}

.bdr-b {
  border-bottom: 1px solid;
}

.m {
  margin: 10px;
}

.bb {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}