.iconed-input-box {
	border-radius: 5px;
	height: 40px;
	padding: 0;
	display: flex;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 5px #555;
	margin: 5px;
	background: var(--bg-f); 
}

.iconed-input-box>input{
	border: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	outline: none;
	font-size: 1rem;
	background: 0	;
}

.input-icon {
	height: 100%;
	padding: 0 5px;
}

.input-icon:hover {
	opacity: 1 !important;
}

.iconed-input-box[mode=dark] .input-icon {
	filter: invert(0.9);
}

.iconed-input-box[mode=dark] {
	background: rgba(0, 0, 0, 0.2);
}

.iconed-input-box[mode=dark]>input {
	color: #eee;
}

.iconed-input-box[mode=dark]>input::placeholder {
	color: #aaa;
}

.label-input {
/*	background: red;*/
/*	padding: 5px;*/
	height: 40px;
	box-sizing: border-box;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
}

.label-input > input{
	font-size: 1rem;
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	border: 0;
	background: var(--bg-d);
	outline: none;
}

.label-input > label {
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 40px;
	padding: 0 10px;
	box-shadow: inset 0 0 0 3px var(--bg-d) ;
	border-radius: 10px 0 0 10px;
}

.label-input > img {
	background: var(--bg-a);
}

.editable {
/*	background: red;*/
	margin: 5px;
/*	background: rgba(0,0,0,0.3);*/
}

.editable > div{
	display: flex;
	border-radius: 5px;
	overflow: hidden;
/*	background: red;*/
	box-shadow: inset 0 0 5px var(--bg-a);
}

.editable > div[disable="false"] {
	box-shadow: inset 0 0 5px var(--clr-5);
}

.editable input:focus{
	box-shadow: inset 0 0 5px royalblue;
}

.editable > label{
	display: block;
	padding: 5px 10px;
/*	background: red;*/
}

.editable input {
	padding: 5px 10px;
	outline: 0;
	font-size: 1rem;
	background: 0;
	width: 100%;
	display: block;
	margin: 0;
	border:0;
	height: 40px;
	box-sizing: border-box;
}

.editable img {
	height: 30px;
	display: block;
/*	background: green;*/
	margin: 5px;
	position: absolute;
	right: 0;
	opacity: 0.6;
}

.editable img:hover {
	opacity: 1;
}

.editable img:active {
	transform: scale(0.9);
}

@media (prefers-color-scheme: dark) {
	.iconed-input-box>input{
		color: #eee	;
	}
}

.input1{
	/* background-color: red; */
	margin: 5px
}

.input1 > label {
	display: block;
	/* background: green; */
	padding: 5px
}

.input1 > div {
	display: flex;
	box-shadow: inset 0 0 5px var(--bg-a);
	border-radius: 5px;
	overflow: hidden;
}

.input1 input {
	width: 100%;
	display: block;
	height: 40px;
	box-sizing: border-box;
	font-size: 1rem;
	padding: 0 10px;
	outline: none;
	border: none;
	background:0;
}

.input1 img {
	height: 30px;
	aspect-ratio: 1/1;
	display: block;
	/* background-color: black; */
	box-sizing: border-box;
	opacity: 0.4;
	margin: 5px 3px;
}

.input1 img:hover{
	opacity: 1;
}